<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/public/css/login.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap"
      rel="stylesheet"
    />

    <title>NowJd-Watch Movies Online</title>
  </head>
  <body class="container-fluid main-body">
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <p class="navbar-brand">Video-Stream-App</p>
       <a href="login"> <button class="btn sign-in">Sign In</button></a>
      </div>
      
      
    </nav>
    <div class="row">
      <div class="col text-start col-lg-5 p-5">
        <p id="welcome_text">Hello, Welcome to NowJd</p>
        <p id="welcome_text1">Let's watch the latest movies, TV shows </p>
       <a href="signup"> <button class="btn btn-outline-warning from-left">Register</button></a>
      </div>
      <div class="col col-lg-7 blur p-3">
        <img src="/public/images/WhatsApp Image 2021-08-18 at 15.53.01.jpeg" class="img img-fluid" alt="">
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
