*{
    box-sizing: border-box;
}


.logo{
    margin: 20px;
    color: rgb(195, 200, 204);
    padding: 1rem;
    background-color: #110430;
    border: none;
    
  font-family: "Ubuntu", sans-serif;

}

body{
    background-color: #110430;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    
}


.form-con{
  outline: none;
  background: none;
  font-size: 18px;
  /* font-weight:; */
  color: #555;
  padding: 20px 10px 20px 5px;
  margin-bottom: 20px;
  border-radius: 7px;
}
.form-con:hover{
    border-color: red;
}
.row{
    
    border-radius: 30px;   
}
 .container{
    padding: 10px;
    width: 310px;
    height: 370px;
    border-radius: 20px;
    background: #fcfafa;
    box-shadow: 1px 2px 2px  #cbced1, -13px -13px 20px #675e75d0; 
 }
 .btn-1{
    border: none;
    outline: none;
    height: 50px;
    width: 240px;
    border-radius: 7px;
    background-color: black;
    color: white;
    /* border-radius: 25px; */
    margin-bottom: 20px;
    font-weight: bold; 
} 
.btn-1:hover{
    background-color: white;
    border: 1px solid;
    border-color: red;
    color:black;
}
