*{
    box-sizing: border-box;
}


.logo{
    margin: 20px;
    color: rgb(195, 200, 204);
    padding: 1rem;
    background-color: #110430;
    border: none;
    
  font-family: "Ubuntu", sans-serif;

}

body{
    background-color: #110430;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    
}



.row{
    
    border-radius: 30px;   
}
 .container{
    padding: 10px;
    width: 310px;
    height: 400px;
    border-radius: 20px;
    background: #fcfafa;
    box-shadow: 1px 2px 2px  #cbced1, -13px -13px 20px #675e75d0; 
 }
 .btn-1{
    border: none;
    outline: none;
    height: 50px;
    width: 240px;
    border-radius: 7px;
    background-color: black;
    color: white;
    margin-bottom: 20px;
    font-weight: bold; 
} 
.btn-1:hover{
    background-color: white;
    border: 1px solid;
    border-color: red;
    color:black;
}

.container input ~ span{
    position: absolute;
    left: 0.5rem;
    border: none;
    transition: 300ms ease-in-out;
    margin-top: 10px;
}
.container input:focus ~span{
    transform: translateY(-20px);
    pointer-events: none;
}
.container input{
    width: max-content;
    color: black;
    background-color: transparent;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 18px;
    border-bottom: 2px solid black;
}
