*{
    box-sizing: border-box;
    
}
.logo{
    margin: 10px;
    color: rgb(195, 200, 204);
    padding: 1rem;
    background-color: #110430;
    border: none;
    
  font-family: "Ubuntu", sans-serif;

}

body{
    background-color: #4117a19f;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    
}

nav{
    /* background-color: cadetblue; */
    padding: 10px;
}
.container{
    margin-top: -2rem;
    padding: 20px;
    padding-right: -10px;
    width: 340px;
    align-self: center;
    height: max-content;
    border-radius: 20px;
    background: #fcfafa;
    box-shadow: 1px 2px 2px  #cbced1, -13px -13px 20px #675e75d0; 
}

body{
    background-color: #110430;
    font-family: "Ubuntu", sans-serif;
    
}

.btn-su{
    margin-top: 0px;
    border: none;
    outline: none;
    height: 50px;
    width: 16.5rem;
    background-color: black;
    color: white;
    border-radius: 7px;
    margin-bottom: 10px;
    font-weight: bold; 
} 
.btn-su:hover{
    background-color: white;
    border: 1px solid;
    border-color: red;
    color:black;
}
.container input ~ span{
    position: absolute;
    left: 0.5rem;
    border: none;
    transition: 300ms ease-in-out;
    margin-top: 10px;
}
.container input:focus ~span{
    transform: translateY(-20px);
    pointer-events: none;
}
.container input{
    width: 16.5rem;
    color: black;
    background-color: transparent;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 18px;
    border-bottom: 1px solid black;
}

